body {
	background: #f5f5f5;
	min-height: 100vh;
}

main {
	flex: 1 0 auto;
}

div {
	box-sizing: border-box;
}

span {
	display: block;
}

/*img {
}*/

.row {
	width: 100%;
}

#container {
	margin-top: 40px;
}

.card {
	height: 250px;
}
